.row {
    display: flex;
    margin: 0 16rem;
    justify-content: space-between;
    align-items: center;

    &__col {
        width: 50%;
    }

    &__col:first-child {
        margin-right: 2rem;
    }

    &__col:last-child {
        margin-left: 2rem;
        margin-top: -15rem;
    }

    &__feature-col {
        width: 25%;
        margin: 0 2rem;
    }

    &__feature-col:first-child {
        margin-left: 0;
    }

    &__feature-col:last-child {
        margin-right: 0;
    }

    &__section-tours {
        width: 33%;
        margin: 0 2rem;
    }
}
